@import 'nullstyle';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$maxWidthContainer: 1194;
$md1: $maxWidthContainer + 18;
$md2: 992;
$md3: 768;
$md4: 560;
$md5: 480;

body {
  position: relative;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  background: linear-gradient(90deg, rgba(236, 236, 236, 1) 0%, rgb(194, 194, 194) 30%, rgb(194, 194, 194) 70%, rgba(236, 236, 236, 1) 100%);
}

.error {
  border: 1px solid red;
}

.error-message {
  width: 100%;
  padding: 5px 10px;
  margin: 10px 0;
  color: red;
  font-size: 20px;
  line-height: 130%;
  z-index: 5;
}

button {
  height: 40px;
  border-radius: 20px;
  width: 150px;
  padding: 10px;
  font-size: 16px;
  transition: all ease 0.3s;
}

button:hover {
  transform: scale(101%);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;

  .modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #ececec;
    width: 70%;
    max-width: 500px;
    max-height: 300px;
    padding: 40px 30px;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  }

  .modal-title {
    font-size: 24px;
    line-height: 130%;
    text-align: center;
  }

  .modal-header, .modal-buttons {
    padding: 10px;
  }

  button {
    margin: 0 10px;
    background: #C2C2C2;
  }
}


._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 10px;
}

.comments {
  &__content {
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


//========================================ADD COMMENT FORM=============================================

.add-block {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;

  form {
    width: 50%;
    min-width: 266px;
  }

  &__text-editor {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    background-color: #ececec;
    border-radius: 20px;
    padding: 20px 20px 20px 10px;

    textarea {
      display: block;
      width: 100%;
      height: 180px;
      resize: none;
      background-color: #ececec;
      padding: 5px;
      font-size: 16px;
      transition: all ease 0.3s;
    }
    .textarea-message-length-wrapper {
      opacity: 0;
      position: absolute;
      bottom: 5px;
      right: 12px;
      cursor: default;
      color: #808080;
      font-size: 12px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }


    #textarea-reset {
      opacity: 0;
      right: 12px;
      top: 5px;
      position: absolute;

    }
    #textarea-reset::before {
      content: 'x';
      cursor: pointer;
      color: #808080;
    }


    &:hover {
      //transform: scale(101%);
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    }

    &.error:hover {
      box-shadow: 4px 4px 10px rgba(255, 0, 0, 0.2);
    }

    &textarea:focus {
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    }

    &textarea.error:focus {
      box-shadow: 4px 4px 10px rgba(255, 0, 0, 0.2);
    }

    textarea::-webkit-scrollbar {
      width: 8px;
      margin-right: -8px;
      border-radius: 10px;
      background-color: #c2c2c2;
    }

    textarea::-webkit-scrollbar-thumb {
      border-radius: 30px;
      background-color: #ffffff;
    }

    textarea::-webkit-scrollbar-track {
      border-radius: 30px;
      background-color: #c2c2c2;
    }
  }

  &__name-input {
    width: 100%;
    margin-bottom: 20px;

    input {
      width: 50%;
      min-width: 266px;
      height: 40px;
      background-color: #ececec;
      border-radius: 20px;
      padding: 10px;
      font-size: 16px;
      transition: all ease 0.3s;
    }

    input:hover {
      //transform: scale(101%);
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    }

    input.error:hover {
      box-shadow: 4px 4px 10px rgba(255, 0, 0, 0.2);

    }

    input:focus {
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    }

    input.error:focus {
      box-shadow: 4px 4px 10px rgba(255, 0, 0, 0.2);
    }
  }

  &__date-input {
    margin-bottom: 20px;

    input {
      height: 40px;
      border-radius: 20px;
      width: 150px;
      padding: 10px;
      font-size: 16px;
      background: url("../img/calendar.png") 110px center no-repeat #ececec;
      transition: all ease 0.3s;
    }

    input:hover {
      //transform: scale(101%);
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    }

    input::-webkit-inner-spin-button {
      display: none;
    }

    input::-webkit-calendar-picker-indicator {
      opacity: 0;
    }
  }
}


//========================================COMMENTS ITEMS=============================================

.list-comments {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  width: 100%;

  &__head {
    display: flex;
    align-items: center;
    width: 50%;
    height: 80px;
  }

  &__logo {
    margin-right: 20px;

    img {
      width: 40px;
      height: 40px;
    }
  }

  &__title {
    flex: 1 0 auto;
    font-size: 30px;
  }

  &__sort {
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: url("../img/arrow_sort.svg") center no-repeat;
    transition: all ease 0.3s;
  }

  &__sort:hover {
    color: #424242;
    transform: translateX(5px);
  }

  &__sort::before {
    display: block;
    width: 128px;
    margin-top: 8px;
    transform: translateX(-128px);
    content: '';
  }

  &__sort.new::before {
    content: 'Сначала новые';
  }

  &__sort.old::before {
    content: 'Сначала старые';
  }

  ul {
    width: 50%;
    min-width: 266px;
    flex: 1 1 100%;
  }

  &__empty-li {
    div {
      margin: 0 auto;
      height: 64px;
      width: 64px;
      background: url("../img/empty.png") center center no-repeat;
    }
  }
}

.item-comment {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  background-color: #ececec;
  border-radius: 20px;
  padding: 15px;

  &__head {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
  }

  &__head-content {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__avatar {
    img {
      border-radius: 50%;
      background-color: #ececec;
    }
  }

  &__head-name {
    min-width: 150px;
  }

  &__head-date {
    font-size: 12px;
  }

  &__text {
    min-width: 150px;
    min-height: 40px;
    background-color: #ececec;
    border-radius: 20px;
    margin: 0 0 10px 84px;
    text-align: justify;
    //white-space: pre-wrap;
  }

  &__like {
    width: 60px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 16px;
    border: 1px solid #C2C2C2FF;
    padding: 0 7px;
    margin-left: 84px;
    transition: transform ease 0.3s;
  }

  &__like:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  }

  &__like-img {
    width: 24px;
    height: 24px;
    background: url("../img/like1.png") 0 0 / 100% no-repeat;
  }

  &__like-img.liked {
    background: url("../img/like2.png") 0 0 / 100% no-repeat;
  }

  &__delete {
    visibility: hidden;
    position: absolute;
    width: 32px;
    height: 32px;
    top: 10px;
    right: 10px;
    background-image: url("../img/delete.png");
    transition: transform ease 0.1s;
    cursor: pointer;
  }
}

.item-comment:hover {
  .item-comment__delete {
    visibility: visible;
  }

  .item-comment__delete:hover {
    transform: scale(105%);
  }
}


//========================================MEDIA=============================================

// Max-width 992px

@media (max-width: $md2+px) {
  .add-block {
    form {
      width: 67%;
    }
  }

  .list-comments {
    &__head, ul {
      width: 67%;
    }
  }
}

// Max-width 768px

@media (max-width: $md3+px) {
  .add-block {
    form {
      width: 80%;
    }
  }

  .list-comments {
    &__head, ul {
      width: 80%;
    }

    &__sort.new::before {
      content: '';
    }

    &__sort.old::before {
      content: '';
    }
  }
}


// Max-width 560px

@media (max-width: $md4+px) {
  body {
    font-size: 14px;
    background: linear-gradient(90deg, rgba(236, 236, 236, 1) 0%, rgba(194, 194, 194, 1) 15%, rgba(194, 194, 194, 1) 85%, rgba(236, 236, 236, 1) 100%);
  }

  .list-comments {
    &__title {
      font-size: 24px;
    }
  }
}